<div class="youtube-embed">
  <lite-youtube
    videoid="{{ id }}"
    videotitle="{{ title }}"
    style="background-image: url('https://i.ytimg.com/vi/{{ id }}/hqdefault.jpg'); background-position: center; background-repeat: no-repeat;">
  </lite-youtube>
</div>
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@0.6.2/lite-youtube.js"></script>
